@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");
.trouble--list li:nth-child(odd):after {
  display: block;
  content: "";
  clear: both; }

/*  Default
-------------------------------------------------- */
body {
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  color: #2A3949;
  line-height: 1.5em;
  font-size: 21px; }
  @media (min-width: 768px) and (max-width: 1365px) {
    body {
      font-size: 2vw; } }
  @media (max-width: 767px) {
    body {
      font-size: 3.5vw; } }

p, a, h1, h2, h3, h4, h5, span, copyright, dd, dt, li, strong, th, td {
  -webkit-font-smoothing: antialiased;
  -webkit-transform: rotate(0.028deg);
  -moz-transform: rotate(0.028deg);
  -ms-transform: rotate(0.028deg);
  -o-transform: rotate(0.028deg);
  transform: rotate(0.028deg); }

* input,
input {
  -webkit-font-smoothing: auto;
  -webkit-transform: auto;
  -moz-transform: auto;
  -ms-transform: auto;
  -o-transform: auto; }

h1, h2, h3, h4, h5 {
  font-weight: 700; }

a {
  color: #2A3949;
  word-break: break-all; }

a:hover {
  color: #2A3949;
  text-decoration: none;
  transition: 0.3s all; }

a:focus,
a:focus * {
  text-decoration: none;
  outline: none;
  outline-offset: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

.row-eq-height {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.container {
  overflow: hidden;
  width: 1140px; }

.image {
  background-image: url(../images/noimage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 180px; }

.pagination {
  text-align: center;
  width: 100%; }
  .pagination .page-numbers {
    border: solid 1px #415268;
    padding: 5px 10px;
    display: inline-block;
    margin: 0px 2.5px 10px; }
    .pagination .page-numbers.current {
      color: #fff;
      background-color: #415268; }
  .pagination a.page-numbers:hover {
    background-color: #415268;
    color: #fff;
    border-color: #415268;
    transition: 0.3s all;
    text-decoration: none; }

.object_fit_img {
  object-fit: cover;
  font-family: "object-fit: cover;"; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.btn, .btn--01, .contact .submit input {
  background-color: #FDE543;
  color: #415268;
  border: #415268 solid 1px;
  padding: 10px 0px 6px;
  font-family: "Josefin Sans", sans-serif;
  display: block;
  width: 180px;
  margin: 0 auto;
  text-align: center;
  border-radius: 50px;
  font-size: 18px;
  line-height: 1em;
  transition: 0.3s; }
  .btn:before, .btn--01:before, .contact .submit input:before {
    content: "";
    width: 20px;
    height: 1px;
    background-color: #415268;
    right: -10px;
    position: absolute;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%); }
  @media (min-width: 768px) {
    .btn:hover, .btn--01:hover, .contact .submit input:hover {
      transition: 0.3s;
      background-color: #415268;
      color: #FDE543; }
      .btn:hover:before, .btn--01:hover:before, .contact .submit input:hover:before {
        right: 0px;
        background-color: #FDE543; } }

.object {
  position: absolute; }

.color--red {
  color: #E20000; }

.dotted {
  position: relative; }
  .dotted:before {
    content: "";
    top: -15px;
    position: absolute;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #FDE543; }
    @media (max-width: 767px) {
      .dotted:before {
        width: 1vw;
        height: 1vw;
        top: -1.5vw; } }

/*------------------------------------------------------------
    Inview
------------------------------------------------------------*/
.fadeIn {
  opacity: 0;
  transition: 1.5s; }

.fadeIn.is-show {
  opacity: 1; }

.fadeIn_right {
  opacity: 0;
  transform: translate(50%, 0);
  transition: 1.5s; }

.fadeIn_right.is-show {
  transform: translate(0, 0);
  opacity: 1; }

.fadeIn_left {
  opacity: 0;
  transform: translate(-50%, 0);
  transition: 1.5s; }

.fadeIn_left.is-show {
  transform: translate(0, 0);
  opacity: 1; }

.fadeIn_up {
  opacity: 0;
  transform: translate(0, 50%);
  transition: 1.5s; }

.fadeIn_up.is-show {
  transform: translate(0, 0);
  opacity: 1; }

/*------------------------------------------------------------
	Ligature Symbols
------------------------------------------------------------*/
@font-face {
  font-family: 'LigatureSymbols';
  src: url("../fonts/LigatureSymbols-2.11.eot");
  src: url("../fonts/LigatureSymbols-2.11.eot?#iefix") format("embedded-opentype"), url("../fonts/LigatureSymbols-2.11.woff") format("woff"), url("../fonts/LigatureSymbols-2.11.ttf") format("truetype"), url("../fonts/LigatureSymbols-2.11.svg#LigatureSymbols") format("svg");
  src: url("../fonts/LigatureSymbols-2.11.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1; }

.lsf-icon:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%; }

a .lsf-icon {
  word-break: normal;
  transform: none; }

/*------------------------------------------------------------
5等分レイアウト
------------------------------------------------------------*/
.col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5,
.col-xs-2-5, .col-sm-2-5, .col-md-2-5, .col-lg-2-5,
.col-xs-3-5, .col-sm-3-5, .col-md-3-5, .col-lg-3-5,
.col-xs-4-5, .col-sm-4-5, .col-md-4-5, .col-lg-4-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-1-5 {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 20%;
    float: left; } }
@media (min-width: 992px) and (max-width: 1365px) {
  .col-md-1-5 {
    width: 20%;
    float: left; } }
@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
    float: left; } }
.col-xs-2-5 {
  width: 40%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-2-5 {
    width: 40%;
    float: left; } }
@media (min-width: 992px) and (max-width: 1365px) {
  .col-md-2-5 {
    width: 40%;
    float: left; } }
@media (min-width: 1200px) {
  .col-lg-2-5 {
    width: 40%;
    float: left; } }
.col-xs-3-5 {
  width: 60%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-3-5 {
    width: 60%;
    float: left; } }
@media (min-width: 992px) and (max-width: 1365px) {
  .col-md-3-5 {
    width: 60%;
    float: left; } }
@media (min-width: 1200px) {
  .col-lg-3-5 {
    width: 60%;
    float: left; } }
.col-xs-4-5 {
  width: 80%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-4-5 {
    width: 80%;
    float: left; } }
@media (min-width: 992px) and (max-width: 1365px) {
  .col-md-4-5 {
    width: 80%;
    float: left; } }
@media (min-width: 1200px) {
  .col-lg-4-5 {
    width: 80%;
    float: left; } }
/*------------------------------------------------------------
    Top
------------------------------------------------------------*/
section {
  overflow: hidden; }

#mainvisual {
  text-align: center;
  position: relative;
  padding-top: 60px; }
  #mainvisual .head {
    position: absolute;
    top: 120px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 72px;
    line-height: 1em;
    letter-spacing: 0.15em; }
    @media (max-width: 767px) {
      #mainvisual .head {
        font-size: 9vw;
        top: 24vw; } }
    #mainvisual .head .small {
      font-size: 50%; }
  #mainvisual img {
    z-index: -1;
    position: relative; }
    @media (max-width: 767px) {
      #mainvisual img {
        height: 93vw;
        object-fit: cover; } }

.introduction {
  text-align: center;
  font-size: 32px;
  line-height: 2em;
  font-weight: 700;
  padding: 60px 0px; }
  @media (max-width: 767px) {
    .introduction {
      font-size: 5vw;
      line-height: 2.5em;
      padding: 0px 0px 90px; } }
  @media (min-width: 768px) {
    .introduction p {
      line-height: 2.25em; } }

.text--strong {
  background-color: #2A3949;
  color: #fff;
  line-height: 1em;
  padding: 0.25em 10px; }
  .text--strong img {
    margin: 0px 0.5em;
    height: 40px;
    display: inline-block;
    vertical-align: sub; }
    @media (max-width: 767px) {
      .text--strong img {
        height: 6vw; } }

.trouble {
  position: relative;
  margin-bottom: 60px;
  padding-top: 50px;
  padding-bottom: 90px; }
  @media (max-width: 767px) {
    .trouble {
      padding-bottom: 45px;
      margin-bottom: 45px; } }
  .trouble .container-fluid {
    background-color: #415268;
    padding-bottom: 90px; }
    @media (max-width: 767px) {
      .trouble .container-fluid {
        padding-bottom: 30px; } }
  .trouble:after {
    content: "";
    width: 0;
    height: 0;
    border-width: 90px 50vw 0 50vw;
    border-color: #415268 transparent transparent transparent;
    border-style: solid;
    position: absolute;
    bottom: 0px;
    left: 0px; }
    @media (max-width: 767px) {
      .trouble:after {
        bottom: 0px;
        width: 0;
        height: 0;
        border-width: 45px 50vw 0 50vw;
        border-color: #415268 transparent transparent transparent;
        border-style: solid; } }
  .trouble .container {
    overflow: visible; }
  .trouble--bg {
    position: absolute;
    width: 1140px;
    left: 0px;
    top: 0px; }
    @media (max-width: 1139px) {
      .trouble--bg {
        width: calc(100vw - 90px); } }
  .trouble h2 {
    color: #fff;
    border-bottom: #fff solid 4px;
    position: relative;
    padding-bottom: 10px;
    z-index: 2;
    display: inline-block;
    text-align: right;
    float: right;
    font-size: 48px;
    letter-spacing: 0.05em;
    margin-top: 30px; }
    @media (max-width: 767px) {
      .trouble h2 {
        font-size: 7vw; } }
    .trouble h2:before {
      content: "";
      position: absolute;
      height: 4px;
      width: 15px;
      right: -15px;
      bottom: -4px;
      background-color: #fff; }
      @media (min-width: 1140px) {
        .trouble h2:before {
          width: calc(50vw - 570px + 15px);
          right: calc(570px - 50vw - 15px); } }
  @media (min-width: 1140px) {
    .trouble--cont {
      width: 880px;
      float: right; } }
  .trouble--list li {
    text-align: center;
    font-size: 21px;
    background-color: #fff;
    padding: 15px;
    font-weight: 700;
    line-height: 1.33em;
    width: calc(50% - 15px);
    float: left; }
    @media (max-width: 767px) {
      .trouble--list li {
        font-size: 3vw;
        padding: 1.5vw; } }
    .trouble--list li:before {
      content: "";
      border-color: #fff transparent transparent #fff;
      border-style: solid;
      position: absolute;
      bottom: -20px;
      left: 15px;
      border-width: 20px; }
      @media (max-width: 767px) {
        .trouble--list li:before {
          border-width: 5px;
          bottom: -10px; } }
    .trouble--list li:nth-child(odd) {
      float: right; }
      .trouble--list li:nth-child(odd):before {
        border-color: #fff #fff transparent transparent;
        right: 15px;
        left: auto; }
    .trouble--list li + li {
      margin-top: 90px; }
      @media (max-width: 767px) {
        .trouble--list li + li {
          margin-top: 60px; } }

.solution {
  padding-top: 30px;
  position: relative;
  overflow: hidden; }
  .solution--head {
    text-align: center;
    font-size: 54px;
    display: block;
    margin-bottom: 30px;
    line-height: 1.5em; }
    @media (max-width: 767px) {
      .solution--head {
        font-size: 8vw; } }
    .solution--head .large {
      font-size: 64px; }
      @media (max-width: 767px) {
        .solution--head .large {
          font-size: 10vw; } }
    .solution--head .underline {
      position: relative;
      margin: 0px 5px;
      line-height: 1em; }
      .solution--head .underline:before {
        content: "";
        height: 14px;
        width: calc(100% + 10px);
        left: -5px;
        top: calc(1em - 12px);
        background-color: #FDE543;
        position: absolute;
        z-index: -1; }
  .solution--cont strong {
    line-height: 2em;
    font-size: 42px; }
    @media (max-width: 767px) {
      .solution--cont strong {
        font-size: 4.5vw; } }
    .solution--cont strong .color--red {
      font-size: 64px; }
      @media (max-width: 767px) {
        .solution--cont strong .color--red {
          font-size: 6vw; } }
  .solution--cont p {
    font-weight: 700;
    margin-bottom: 120px;
    line-height: 1.5em; }
    @media (max-width: 767px) {
      .solution--cont p {
        margin-bottom: 90px;
        margin-top: 20px; } }
  .solution .object {
    height: 420px;
    bottom: 0px;
    right: 40px;
    z-index: -1; }
    @media (max-width: 1139px) {
      .solution .object {
        right: -45px; } }
    @media (max-width: 767px) {
      .solution .object {
        height: 60vw; } }

.about {
  position: relative;
  background-color: #415268;
  color: #fff; }
  .about h2 {
    font-size: 64px;
    position: absolute;
    color: #415268;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    top: -75px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.1em; }
    @media (max-width: 767px) {
      .about h2 {
        font-size: 7vw;
        top: -11vw; } }
  .about .container {
    padding: 45px 15px; }
    @media (max-width: 767px) {
      .about .container {
        padding: 15px; } }
  .about--detail {
    line-height: 2em; }
    .about--detail h3 {
      font-size: 24px;
      line-height: 1.5em;
      margin-top: 20px; }
      @media (max-width: 767px) {
        .about--detail h3 {
          font-size: 4vw; } }
  .about--img h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px; }
    @media (max-width: 767px) {
      .about--img h3 {
        font-size: 4vw;
        margin-top: 60px; } }
  .about--img .row-eq-height > div {
    margin-bottom: 30px;
    line-height: 1.5em;
    text-align: center; }
  .about--img .row-eq-height img {
    display: block;
    margin: 0 auto 10px; }
    @media (max-width: 767px) {
      .about--img .row-eq-height img {
        height: 10vw; } }

.voice {
  padding-top: 60px; }
  .voice .container {
    overflow: visible; }
    @media (max-width: 767px) {
      .voice .container {
        padding: 0px 30px;
        overflow: hidden; } }
  .voice h2 {
    font-size: 54px;
    margin-bottom: -15px;
    z-index: 10;
    letter-spacing: 0.1em;
    position: relative; }
    @media (min-width: 768px) {
      .voice h2 {
        text-align: right; } }
    @media (max-width: 767px) {
      .voice h2 {
        font-size: 10vw; } }
  .voice--cont {
    background-color: #f5f5f5;
    padding: 15px 0px;
    position: relative;
    margin-bottom: 120px; }
    @media (max-width: 767px) {
      .voice--cont {
        padding: 45px 15px;
        margin-bottom: 0px; } }
    @media (min-width: 1140px) {
      .voice--cont:before {
        width: 100vw;
        content: "";
        background-color: #f5f5f5;
        position: absolute;
        left: calc(570px - 50vw);
        top: 0px;
        height: 100%; } }
    .voice--cont-text {
      background-color: #fff;
      padding: 20px;
      line-height: 1.5em;
      position: relative;
      z-index: 2; }
      @media (min-width: 768px) {
        .voice--cont-text {
          width: calc(50% + 45px); }
          .voice--cont-text.col-sm-push-6 {
            text-align: right;
            left: calc(50% - 45px); } }
      @media (max-width: 767px) {
        .voice--cont-text {
          margin: 0px -45px;
          width: calc(100% + 90px);
          padding: 15px 45px; } }
    @media (min-width: 768px) {
      .voice--cont-img {
        position: absolute;
        z-index: 1;
        height: calc(100% + 60px);
        right: 0px;
        top: -30px; }
        .voice--cont-img.col-sm-pull-6 {
          right: auto;
          left: 0px; }
        .voice--cont-img img {
          height: 100%; } }
    @media (max-width: 767px) {
      .voice--cont-img {
        margin: 0px -45px;
        width: calc(100% + 90px); } }

.company {
  padding-bottom: 45px; }
  .company--detail {
    text-align: center;
    margin-bottom: 20px; }
    .company--detail img {
      display: block;
      margin: 0 auto 10px; }
    .company--detail b {
      display: block;
      margin-bottom: 5px; }

.contact {
  padding-bottom: 60px; }
  .contact h2 {
    text-align: center;
    margin-bottom: 30px; }
  @media (max-width: 767px) {
    .contact {
      padding-top: 45px; } }

/*------------------------------------------------------------
    Common
------------------------------------------------------------*/
#navigation {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.61); }
  #navigation .container {
    position: relative; }
  #navigation .btn--01 {
    position: absolute;
    top: 15px;
    right: 0px; }
    @media (max-width: 767px) {
      #navigation .btn--01 {
        width: 120px;
        font-size: 12px; } }
  #navigation .navbar {
    border: none;
    margin-bottom: 0px;
    min-height: auto; }
  #navigation .navbar-brand {
    padding: 0px;
    margin: 0px;
    text-indent: -9999px;
    width: 240px;
    height: 74px; }
    #navigation .navbar-brand .site-title {
      background-image: url(../images/noimage.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 180px;
      background-size: contain;
      background-image: url(../images/logo.svg);
      background-position: left center;
      display: block;
      height: 100%;
      width: 100%; }

#breadcrumb {
  padding: 10px 0px; }
  #breadcrumb ul li {
    display: inline-block;
    font-size: 12px; }
    #breadcrumb ul li a {
      text-decoration: underline; }
    #breadcrumb ul li + li:before {
      content: ">";
      margin: 0px 0.5em; }
    #breadcrumb ul li:last-child {
      color: #444; }

#footer {
  text-align: center;
  font-size: 12px;
  background-color: #415268;
  color: #fff;
  padding-top: 10px; }

/*------------------------------------------------------------
Contact
------------------------------------------------------------*/
div.wpcf7 .ajax-loader {
  display: block; }

.contact table {
  width: 100%; }
  .contact table tbody tr > * {
    padding: 15px; }
  @media (max-width: 767px) {
    .contact table tbody tr > * {
      display: block; }
    .contact table tbody tr th {
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 5px; }
    .contact table tbody tr td {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 10px; } }
  .contact table input, .contact table textarea {
    padding: 10px;
    background-color: #fff;
    border: solid #ddd 1px;
    width: 100%; }
  .contact table input[type="checkbox"], .contact table input[type="number"] {
    display: inline-block;
    width: auto; }
  .contact table input[type="number"] {
    width: 3em;
    margin-right: 0.5em; }
  .contact table input[type="radio"] {
    width: auto; }
  @media (min-width: 768px) {
    .contact table {
      width: 720px;
      margin: 0 auto; } }
  .contact table tbody tr th {
    position: relative;
    width: 240px; }
    .contact table tbody tr th .require {
      background-color: #e21900;
      font-size: 12px;
      padding: 2.5px 10px;
      position: absolute;
      font-weight: 700;
      right: 0px;
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
      color: #fff; }
.contact .wpcf7-submit {
  display: block;
  color: #fff;
  background-color: #FDE543;
  padding: 14px;
  width: 240px;
  text-align: center;
  font-weight: 700;
  margin: 0px auto;
  margin-top: 60px;
  position: relative; }
.contact .submit {
  text-align: center; }
  .contact .submit input {
    display: inline-block;
    width: 240px; }
    .contact .submit input.wpcf7-back {
      background-color: #ddd;
      color: #2A3949; }
      @media (min-width: 768px) {
        .contact .submit input.wpcf7-back {
          margin-right: 5px; } }
    @media (min-width: 768px) {
      .contact .submit input.wpcf7-submit.wpcf7c-elm-step2 {
        margin-left: 5px;
        font-weight: 400; }
      .contact .submit input:hover {
        opacity: 0.8;
        transition: 0.3s; } }

@media (min-width: 768px) {
  .only-xs {
    display: none; } }

@media (max-width: 1139px) {
  .container {
    width: 100%; } }

@media (min-width: 768px) {
  #navigation .navbar-nav li a:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #415268; }
  #navigation .navbar-nav li a:hover, #navigation .navbar-nav li a:focus {
    background: none; }
    #navigation .navbar-nav li a:hover:after, #navigation .navbar-nav li a:focus:after {
      width: 100%;
      left: 0; } }
@media (max-width: 767px) {
  #navigation .navbar-brand {
    width: calc(100vw - 175px);
    height: 55px; }
    #navigation .navbar-brand .site-title {
      background-size: contain; }
  #navigation .navbar-toggle {
    margin-right: 0px; }
    #navigation .navbar-toggle .icon-bar {
      background-color: #333; }
  #navigation .navbar-nav {
    float: none; }

  .contact table tbody tr > * {
    display: block;
    padding: 10px 0px; }
  .contact table tbody tr th {
    padding-bottom: 0px;
    width: 100%; }
    .contact table tbody tr th .require {
      font-size: 10px; }
  .contact table tbody tr td {
    padding-bottom: 25px; }
  .contact .submit {
    text-align: center; }
    .contact .submit input.wpcf7c-elm-step2 {
      width: calc(50% - 10px);
      margin: 0px 5px; }
  .contact div.wpcf7 .ajax-loader {
    display: block;
    margin-top: 10px; } }

/*# sourceMappingURL=style.css.map */
